
@mixin crimson {
  background: #d52856;
  border: none;
  &:hover {
    background: #b52249;
  }
}

#img-logo {
  height: 50px;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.bg-crimson {
  @include crimson();
}

.bg-lightdark{
  background: #6351ce;
}



.container-carrossel {
  height: 535px;
  position: relative;
  img {
    filter: brightness(50%);
    position: absolute;
    left: 30%;
    -webkit-transform: translate(-30%, 0%);
    -ms-transform: translate(-30%, 0%);
    transform: translate(-30%, 0%);
    }

 

  .first-1slide {
    background: url("img/rogerio_flexao.jpg");  
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  }
}

// .img-carrossel {
//   background-size: cover;
//   object-fit: contain;
//   filter: brightness(50%);
// } 

.circular-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  transition-property: width height;
  transition-duration: 1s;
  &:hover {
    width: 200px;
    height: 200px;
  }
}

.parallax { 
 min-height: 250px;
 background: rgba(0, 0, 0, 0.35);
 background-size: cover;
 font-size: 1.8em;
 font-weight: bold;
}

.bg-parallax{
  height: auto;
  min-height: 250px;
  background: url("img/levantamento_peso.jpg");  
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.whatscollor {
  color: #32BB46;
}

.social-list {
  
  list-style: none;
  padding: 0;
  color: #fff;
  li {
    padding: 0px 10px;
    font-size: 19px;
    a {
      color: #fff;
      &:hover { 
        color: #b52249; 
      }
    }
  }
}

.titulo{
  font-family: 'Bebas Neue', cursive;
  color: #fff;
  font-size: 48px;
  line-height: 0.5em;
  
}
.sub {
  color: #fff;
  font-size: 27px;
  font-family: 'Bakbak One', cursive;
  line-height: 0px;
  
}

@media (max-width: 576px) { 
  .parallax { 
    font-size: 1.2em;
    font-weight: bold;
   }
 }